body {
  background-color: teal;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 50px;
}
.main2 {
  margin-left: 30px;
}
.main2 a {
  justify-content: center;
  margin-left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flexbox;
  margin-top: 50px;
}
.main2 a img {
  transition: all 0.3s linear;
}
.main2 a:hover img {
  transform: scale(1.4);
}
img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  display: flexbox;
  padding: 25px;
}

h1 a {
  text-align: center;
  padding-top: 20px;
  color: rgb(255, 187, 0);
  text-decoration: none;
  display: block;
  transition: all 0.3s linear;
}

h1:hover a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100vh;
}

body {
  background: teal;
  font-family: Arial, Helvetica, sans-serif;
}

.u-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.skill {
  margin: 1em 0;
  position: relative;
  width: 22.5em;
}

.skill__type {
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  width: 5em;
}

.skill__outer-bar,
.skill__inner-bar {
  height: 0.75em;
}

.skill__outer-bar {
  margin-top: 1em;
  background: #333;
}

.skill__inner-bar {
  animation: fillBar 1s forwards;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.skill__inner-bar--100 {
  width: 80%;
  background: #f8a518;
}
.skill__inner-bar--90 {
  width: 80%;
  background: #f8a518;
}
.skill__inner-bar--80 {
  width: 30%;
  background: #f8a518;
}
.skill__inner-bar--70 {
  width: 51%;
  background: #f8a518;
}
.skill__inner-bar--60 {
  width: 80%;
  background: #f8a518;
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}

.skills {
  margin-right: 200px;
}
